<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>@mateis-rgb. Sort Integers</title>
        <link rel="stylesheet" href="./style.css">
        <link rel="icon" type="image/png" href="/sort.png" />
    </head>
    <body>
        <div id="app">
            <v-app>
                <v-main>
                    <v-container style="max-width: 500px">
                        <v-card class="pa-7 ma-4" id="card" elevation="24">
                            <v-card-title>
                                Tri par selection d'entiers
                            </v-card-title>

                            <v-divider></v-divider>
                            
                            <v-text-field type="number" class="pt-3" v-model="newTask" label="Entrez les éléments de votre liste" solo @keydown.enter="create">
                                <template v-slot:append>
                                    <v-fade-transition>
                                        <v-icon v-if="newTask" @click="create">
                                            mdi-plus-circle
                                        </v-icon>
                                    </v-fade-transition>
                                </template>
                            </v-text-field>
                                                        
                            <v-row>
                                <v-col>
                                    <v-btn x-large text :disabled="!this.tasks.length" @click="tri_selection(this.tasks)">Trier</v-btn>
                                </v-col>
                                <v-col>
                                    <v-btn x-large text :disabled="!this.tasks.length" @click="clearAll">Réinitialiser</v-btn>
                                </v-col>
                            </v-row>

                            <v-divider class="mt-4"></v-divider>
                            
                            <v-row class="my-1" align="center">
                                <strong class="mx-4 text--darken-2" id="blue">
                                    En attente : {{ remainingTasks }}
                                </strong>
                            
                                <v-divider vertical></v-divider>
                            
                                <strong class="mx-4 text--darken-2" id="green">
                                    Éléments triés : {{ completedTasks }}
                                </strong>
                            
                                <v-spacer></v-spacer>
                            
                                <v-progress-circular :value="progress" class="mr-2" id="green"></v-progress-circular>
                            </v-row>
                            
                            <v-divider class="mb-4"></v-divider>
                            
                            <v-card v-if="tasks.length > 0">
                                <v-slide-y-transition class="py-0" group tag="v-list">
                                    <template v-for="(task, i) in tasks">
                                        <v-divider v-if="i !== 0" :key="`${i}-divider`"></v-divider>
                            
                                        <v-list-item :key="`${i}-${task.text}`">
                                            <v-list-item-action>
                                                <div :class="task.done && 'grey--text' || 'primary--text'" class="ml-4" v-text="task.text"></div>
                                            </v-list-item-action>
                            
                                            <v-spacer></v-spacer>
                            
                                            <v-scroll-x-transition>
                                                <v-icon v-if="task.done" color="success">
                                                    mdi-check
                                                </v-icon>
                                            </v-scroll-x-transition>

                                            <v-icon v-if="!task.done" @click="clearOnes(task)">
                                                mdi-close-circle
                                            </v-icon>
                                        </v-list-item>
                                    </template>
                                </v-slide-y-transition>
                            </v-card>
                        </v-card>
                        <v-btn v-scroll="onScroll" v-show="fab" fab dark fixed bottom right color="primary" @click="toTop">
                            <v-icon>mdi-arrow-up</v-icon>
                        </v-btn>
                    </v-container>
                </v-main>
                <v-footer padless id="card">
                    <v-col class="text-center" cols="12">
                        Claire C. Noé M. Matéis R. - Fait avec <strong>Vuetify@2.6.6</strong> et <strong>VueJS@2.6.14</strong> - {{ new Date().getFullYear() }}
                    </v-col>
                  </v-footer>
            </v-app>
        </div>

        <script src="./vue.js"></script>
        <script src="./vuetify.js"></script>
        <script src="./main.js"></script>
    </body>
</html>
